## .NET / C#

# Build output
bin/
obj/

# Visual Studio artifacts
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
.nuget/packages/
packages/

# Rider / JetBrains
.idea/

# OS
Thumbs.db
.DS_Store
